{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 150,
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}